* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

:root {
  --cellSize: calc((5vw + 5vh)/2);
  --color-active: rgb(69, 240, 69);
  --color-white: #ccc;
  --color-black: rgb(70, 70, 70);
  --color-selected: rgb(189, 189, 0);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(var(--cellSize)*8);
  height: calc(var(--cellSize)*8);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: calc(var(--cellSize)/1.4);
  height: calc(var(--cellSize)/1.4);
  z-index: 2;
}

.black {
  background-color: var(--color-black);
}

.white {
  background-color: var(--color-white);
}

.selected {
  background-color: var(--color-selected);
}

.available {
  height: calc(var(--cellSize)/4);
  width: calc(var(--cellSize)/4);
  border-radius: 50%;
  background-color: var(--color-active);
  position: absolute;
}

.active {
  background-color: var(--color-active);
}

.lostfigures {
  padding: 8px;
  background-color: var(--color-white);
}

.lostfigures__img {
  margin-top: 4px;
  max-height: calc(var(--cellSize)/3);
}